<div class="jumbotron">
    <div class="page-header">
        <h2>Select a Third Floor Conference Room!</h2>
    </div>


    <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="room in rooms | filter:{floor:3} | orderBy:'name'">
            <p>
                <a class="thumbnail" href="{{ room.url }}download/SL/SL_Lite_v1.1.0.0_.{{ room.ip + type }}">{{ room.name }}</a>
                <img src="" alt=""/>
            </p>
        </div>
    </div>
</div>
    <!--
            <a href="http://sunroom//download/SL/SL_Lite_v1.1.0.0_.10.150.0.5.exe" target="_self" class="btn btn-lg btn-block btn-warning">Sun Room (PC)</a>
            <a href="http://sunroom/download/SL/SL_Lite_v1.1.0.0_.10.150.0.5.dmg" target="_self" class="btn btn-lg btn-block btn-warning">Sun Room (MAC)</a>
    -->
